body {
  background-color: #f2f2f2;
}

.box {
  width: 90%;
  max-width: 300px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
  border: 1px solid #fff;
  margin: 50px auto; padding: 30px;
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  font: 23px Arial, san-serif;
  color: #0a7a5a;
  text-align: center;
  margin-bottom: 30px;
}

p { font-family: Arial, san-serif; line-height: 1.3; }

li {
  margin-bottom: 10px;
  text-align: left;
  font-family: Arial, san-serif;
}

#currencies {
  padding: 0;
  margin: 0;s
}

#currencies li {
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
}

button.currency_button {
  padding: 8px 15px;
  text-shadow: 1px 1px 0px #ffffff;
  color: #5e5e5e;
  font-family: Arial, san-serif;
  border: 1px solid #b0b0b0;
  position: relative;
  z-index: 1;
  transition: opacity 0.5s linear;
}

/* This is a bit of CSS trickery to enable a transition for a gradient background */
button.currency_button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(0deg, #d7d7d7 0%, #ececec 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0.25;
}

button.currency_button:hover::before {
  opacity: 1;
}


/***** MODAL *****/

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999; 

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  position: relative;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  position: absolute;
  top: 15px; right: 15px;
  z-index: 999;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal-close:hover {
  cursor: pointer;
}

.modal h1 {
  margin-top: 0;
  padding: 20px 60px 0;
  position: relative;
  z-index: 1;
}

.modal p {
  margin-bottom: 0;
}

.loading {
  opacity: 0;
  transition: opacity 0.5s linear;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 80%;
  max-width: 200px;
  text-align: center;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

.loading.visible {
  opacity: 1;
}

.spinner {
  width: 100px;
  height: 100px;
  background-size: 200%, cover;
  background-position: center;
  margin: 0 auto;
}